@media (max-width: 1360px) { 
    
}
@media (max-width: 1200px) { 
    .padding-50 {
        padding: 40px 0;
    }
    .box-title .title {
        font-size: 28px;
    }
}
@media (max-width: 1024px) { 
    header#header, header#header.active{
        padding: 0;
    }
    header#header .toggle-menu {
        display: flex!important;
        margin-left: 20px;
    }
    header#header .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 15px;
    }
    header#header .header-mobile{
        display: flex;
    }
    header#header .header-top .list-cart{
        position: relative;
        top: auto;
        transform: unset;
        display: flex;
        align-items: center;
    }
    header#header .wrap-menu .item-menu .nav-link{
        padding: 10px 20px;
        justify-content: flex-start;
    }
    header#header .wrap-menu .item-menu:first-child .nav-link {
        padding-left: 20px!important;
    }
    header#header .wrap-menu .item-menu:last-child .nav-link {
        padding-right: 20px!important;
    }
    header#header .header-top *{
        line-height: 1;
    }
    header#header .header-top .logo img{
        height: 43px;
    }
    header#header.active .logo img{
        width: auto;
    }
    header#header .wrap-menu{
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;
    }
    .wrap-menu-main{
        position: fixed;
        top: 91px;
        left: 0;
        width: 375px;
        background: #FFF;
        height: calc(100vh - 91px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start!important;
        transform: translateX(-375px);
        transition: all .3s;
        overflow: scroll;
        padding-bottom: 70px;
    }
    .wrap-menu-main.active{
        transform: translateX(0);
        transition: all .3s;
    }
    .wrap-menu-main .social-mobile{
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-bottom: 30px;
    }
    .wrap-menu-main .social-mobile li a{
        display: block;
        padding: 10px 20px;
    }
    header#header .wrap-menu-main .logo{
        display: none;
    }
    body.active-menu{
        overflow: hidden;
        position: relative;
    }
    body.active-menu::before{
        content: "";
        background-color: rgba(0, 0, 0, .45);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 29;
    }
    header#header .wrap-menu .item-menu{
        width: 100%;
    }
    header#header .wrap-menu .item-menu ul {
        position: relative;
        top: auto;
        min-width: 100%;
        opacity: 1;
        visibility: visible;
        transform: unset;
        display: none;
        transition: unset;
        border-top: none;
        padding-left: 20px;
    }
    header#header .wrap-menu .item-menu>ul ul {
        left: 0;
        top: auto;
    }
    header#header .wrap-menu .item-menu ul i {
        top: 0;
        padding-top: 2px;
    }
    header#header .wrap-menu .item-menu a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header#header .wrap-menu .item-menu ul a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header#header .wrap-menu .item-menu i{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 32;
        top: 0px;
    }
    header#header .wrap-menu li:hover>ul {
        opacity: unset;
        visibility: unset;
        transition: unset;
        transition-delay: unset;
        transform: unset;
    }

    /*  */
    .wrap-slider-top .carousel-inner .content-slider .title-slider {
        font-size: 36px;
    }
    .wrap-slider-top .carousel-inner .content-slider{
        padding-left: 30px;
        padding-right: 30px;
    }
    .wrap-slider-top .carousel-indicators {
        margin-bottom: 20px;
    }
   
    .box-title {
        margin-top: 70px;
        margin-bottom: 45px;
    }
    .banner-item .bg-banner-item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .banner-item .content-banner-item {
        position: relative;
        top: 0;
        padding: 40px 10px;
    }
    .banner-item .content-banner-item .title-slider {
        font-size: 38px;
        margin-bottom: 20px;
    }
    .banner-item .content-banner-item .btn {
        margin-top: 20px;
    }
    #form-folow .box-form {
        padding-left: 70px;
    }
    #form-folow .wrap-form-flow .title-form {
        font-size: 36px;
        margin-bottom: 20px;
    }
    #form-folow .wrap-form-flow .input-mail {
        margin-bottom: 15px;
        margin-top: 20px;
    }
    #form-folow .wrap-form-flow {
        padding: 110px 0;
    }
    footer#footer .footer-last {
        padding-bottom: 15px;
        flex-direction: column-reverse;
    }
    footer#footer .footer-last .copyright{
        padding-top: 10px;
    }
    footer#footer .footer-first {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    footer#footer .footer-first [class*="col-"]{
        padding-bottom: 20px;
    }
    .wrap-slider-collection-item .owl-theme .owl-dots,
    .wrap-slider-collection-item .owl-theme .owl-nav{display: none;}
    #form-folow{
        padding-right: 15px;
    }
    .box-title .title {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    #product-detail .detail-photos {
        flex-direction: column-reverse;
    }
    #product-detail .detail-photos .sort-list-product {
        padding-left: 0;
        display: flex;
        align-items: center;
    }
    #product-detail .detail-photos .sort-list-product .item{
        margin-right: 10px;
    }
    #product-detail .detail-photos .sort-list-product .item.sort-four{
        margin-top: -4px;
    }
}
@media (max-width: 850px) {
    .wrap-slider-top .carousel-inner .content-slider .title-slider {
        font-size: 22px;
    }
    .wrap-slider-top .carousel-inner .content-slider .title-slider br{
        display: contents;
    }
    .wrap-slider-top .carousel-inner .content-slider .btn {
        height: 42px;
        min-width: 222px;
        margin-top: 35px;
    }
    .banner-item .content-banner-item .title-slider {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .box-title {
        margin-top: 60px;
        margin-bottom: 35px;
    }
    #form-folow{
        flex-direction: column;
        padding-right: 0;
        
    }
    #form-folow>div {
        flex: unset;
        max-width: 100%;
    }
    #form-folow .box-form {
        padding: 0 15px;
    }
    .breacrums {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .item-new .box-content .title h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }
    .item-new .box-content {
        padding-top: 20px;
    }
    .item-new .box-content .date-new {
        margin-bottom: 5px;
        font-size: 13px;
    }
    .item-new .box-content .content-detail{
        font-size: 14px;
    }
    .item-new {
        margin-bottom: 35px;
    }
    #form-folow .wrap-form-flow>*{
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .wrap-slider-top .carousel-inner .content-slider{
        padding-top: 50px;
        padding-bottom: 60px;
        position: relative;
    }
    .wrap-slider-top .carousel-inner .carousel-item>img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .wrap-slider-top .carousel-inner .content-slider .title-slider {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .wrap-slider-top .carousel-inner .content-slider .content-text {
        font-size: 14px;
    }
    .wrap-slider-top .carousel-inner .content-slider .btn {
        height: 30px;
        min-width: max-content;
        margin-top: 12px;
        font-size: 14px;
    }
    .box-faq{
        padding-top: 20px;
    }
    #content-story, #faq {
        padding: 20px 0 45px;
    }
    .box-faq .item {
        padding: 25px;
    }
    #content-story .box-content {
        padding-left: 25px;
        padding-right: 25px;
    }
    #content-story .box-content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .wrap-filters .item-filter .box-filter-item{
        width: 300px;
    }
    .wrap-filters .item-filter .box-filter-item .header-filter {
        padding: 15px;
    }
    .wrap-filters .item-filter .box-filter-item .body-filter {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrap-filters .item-filter .box-filter-item .toggle-item-filter {
        margin-top: 10px;
        padding-bottom: 15px;
    }
    .wrap-filters .item-filter .box-filter-item .toggle-item-filter h4 {
        font-size: 14px;
    }
    .wrap-filters .item-filter .box-filter-item .content-item-filter .item-list .form-check-label {
        height: 36px;
    }
    .box-title {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
@media (max-width: 576px) {
    
    .wrap-video-youtube iframe{
        height: 350px;
     }
     .wrap-slider-top .carousel-indicators {
        margin-bottom: 10px;
    }
     .wrap-slider-top .carousel-indicators li{
        width: 8px;
        height: 8px;
     }
     .wrap-slider-top [class*="carousel-control-"]{
         width: 40px;
        }
        .wrap-slider-top [class*="carousel-control-"] svg{
            width: 18px;
        }
}
@media (max-width: 414px) {
    
    .wrap-video-youtube iframe{
        height: 300px;
     }
}