@font-face {
    font-family: Font-NeuePlak;
    src: url("./fonts/iCielNeuePlak-BoldWide.otf") format("opentype");
}

:root {
    --color-main: #27100C;
    --color-text: #1C1C1E;
    --font-neueplak: 'Font-NeuePlak';
    --color-text-content: #2B2B2B;
    --bg-1: #636366;
}

* {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: var(--color-text);
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    /* color: var(--color-hover); */
    transition: all 0.4s ease 0s;
}

a:hover * {
    /* color: var(--color-hover); */
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1344px;
    padding-left: 12px;
    padding-right: 12px;
}
.row{
    margin-left: -12px;
    margin-right: -12px;
}
.row [class*="col-"]{
    padding-left: 12px;
    padding-right: 12px;
}
.font-bold {
    font-weight: 700;
}

.bg-white {
    background-color: white;
}


.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.btn-color-text{
    background-color: transparent;
    border: 1px solid var(--color-text);
    color: var(--color-text);
}
.btn.btn-color-text:hover{
    color: #FFF;
    background-color: var(--color-text);
    transition: all .4s;

}
.btn.btn-border-white{
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}
.btn.btn-border-white:hover{
    background-color: #FFF;
    color: var(--color-text);
}

.box-title{
    margin-bottom: 60px;
}
.box-title .title{
    font-size: 36px;
}
.padding-50{
    padding: 50px 0;
}
.pt-100{
    padding-top: 100px;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/* hover image  */
.box-image {
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
}
.hover-image{
    position: relative;
    overflow: hidden;
}
.hover-image::before{
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-image:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
.item-product .box-image img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}
/*  */
.line-2{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.line-3{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* toggle menu */
/* html
<a href="javascript:void(0)" title="toggle-menu" class="toggle-menu d-lg-none">
    <span></span>
</a>  */
header#header .toggle-menu {
    background: transparent;
    height: 20px;
    position: relative;
    transition: all .3s;
    width: 24px;
    margin-left: 14px;
}
header#header .toggle-menu span {
    background: #000;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after, header#header .toggle-menu:before {
    background: #000;
    border-radius: 2px;
    content: "";
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after {
    bottom: 0;
    right: 0;
}
header#header .toggle-menu:before {
    top: 0;
}
header#header .toggle-menu.active span {
    background: transparent;
}
header#header .toggle-menu.active:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header#header .toggle-menu.active:after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

/* HEADER  */
/* HEADER  */
header#header{
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 30;
    padding: 31px 0 40px;
    transition: all .3s;
}
header#header.active{
    padding: 11px 0 20px;
    z-index: 1001;
}
header#header .logo img{
    transition: all .3s;
}
header#header.active .logo img{
    width: 130px;
    transition: all .3s;
}
header#header .wrap-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
}
header#header .wrap-menu .item-menu{
    position: relative;
}
header#header .wrap-menu .item-menu .nav-link{
    color: var(--color-text);
    text-transform: uppercase;
    padding: 20px 10px;
    font-weight: 600;
    transition: all .3s;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
}
header#header .wrap-menu .item-menu:not(.logo, .item-forenki) .nav-link::before{
    content: "";
    width: 10px;
    min-width: 10px;
    height: 10px;
    border: 1px solid var(--color-text);
    border-radius: 100%;
    margin-right: 9px;
    display: block;
}
header#header .wrap-menu .item-menu.item-forenki .nav-link{
    padding-left: 12.5px;
    padding-right: 12.5px;
}
header#header .wrap-menu .item-menu.item-forenki .nav-link .number-cart{
    font-size: 12px;
}
header#header .wrap-menu .item-menu:first-child .nav-link{
    padding-left: 0!important;
}
header#header .wrap-menu .item-menu:last-child .nav-link{
    padding-right: 0!important;
}
header#header .wrap-menu .item-menu i{
    position: absolute;
    right: 13px;
    top: 24px;
    display: none;
}
header#header .wrap-menu .item-menu ul i{
    top: 21px;
}
header#header .wrap-menu .item-menu.active .nav-link::before,
header#header .wrap-menu .item-menu:hover .nav-link::before{
    background-color: var(--color-text);
}
header#header .wrap-menu .item-menu ul{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #FFF;
    border-top: 1px solid var(--color-text);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(35px);
}
header#header .wrap-menu li:hover>ul{
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    transition-delay: .3s;
    transform: translateY(0);
}
header#header .wrap-menu .item-menu>ul ul{
    left: 100%;
    top: 0;
}
header#header .wrap-menu .item-menu>ul li{
    position: relative;
}
header#header .wrap-menu .item-menu ul a{
    padding: 15px;
    display: block;
    transition: all .3s;
}
header#header .wrap-menu .item-menu ul li:hover>a{
    color: var(--color-hover);
    transition: all .3s;
}

header#header .header-mobile{
    display: none;
}

/*  */
.wrap-menu-main .social-mobile{
    display: none;
}

/*  */

.wrap-slider-top .carousel-inner .content-slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.wrap-slider-top .carousel-inner .content-slider .title-slider{
    font-size: 56px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--font-neueplak);
    margin-bottom: 20px;
}
.wrap-slider-top .carousel-inner .content-slider .content-text{
    color: #F9F9F9;
    max-width: 435px;
    font-size: 16px;
    font-weight: 600;
}
.wrap-slider-top .carousel-inner .content-slider .btn{
    height: 48px;
    min-width: 222px;
    font-weight: 700;
    border-radius: 0;
    margin-top: 60px;
}
.carousel-control-next,.carousel-control-prev{
    opacity: 1;
    transition: all .3s;
}
.carousel-control-next:hover svg path,.carousel-control-prev:hover svg path{
    stroke: var(--color-text);
}
.wrap-slider-top .carousel-indicators{
    /* justify-content: flex-start; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    padding-left: 15px;
}
.wrap-slider-top .carousel-indicators li{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    opacity: 1;
}
.wrap-slider-top .carousel-indicators li.active{
    background-color: #fff;
    border: 2px solid #FFFFFF;
    opacity: 1;
}
.wrap-slider-top .wrap-pagination-slider{
    position: relative;
}

/*  */
.marquee {
    overflow: hidden;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    padding-top: 12px;
    border-bottom: 1px solid #8E8E93;
  }

  .marquee__inner {
    display: flex;
  }

  .marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 15s;
    animation-timing-function: all;
    animation-iteration-count: infinite;
  }

  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .box-title{
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .box-title .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text);

  }


.wrap-slider-collection-item{
    overflow: hidden;
    margin-left: 250px;
    margin-bottom: 40px;
}
.wrap-slider-collection-item .slider-collection{
    padding-left: 12px;
    padding-right: 12px;
}
.wrap-slider-collection-item .item-product .box-image{
    width: 100%;
    height: 416px;

}
.item-product{
    margin-bottom: 60px;
}
.item-product .box-image{
    padding: 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EBEBEB;
}
.item-product .box-image img{
    width: auto;
    max-width: 100%;
    height: auto;
    transition: all .3s;
}
.item-product .box-image:hover img{
    transform: scale(1.3);
    transition: all .3s;
}
.item-product .box-content{
    padding-top: 20px;
}
.item-product .box-content .title h3{
    font-size: 16px;
    font-weight: 600;
}
.item-product .box-content .content-detail{
    color: var(--bg-1);
}
.item-product .box-content .price-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.item-product .box-content .price-box .box-sale{
    background: #2C2C2E;
    color: #FFF;
    padding: 0 10px 0 6px;
    display: inline-flex;
    margin-right: 10px;
}
.item-product .box-content .price-box .price-sale{
    font-weight: 600;
}
.item-product .box-content .price-box .price-sale.unline{
    color: var(--bg-1);
    text-decoration:line-through
}

/* banner-item */

.banner-item{
    position: relative;
}
.banner-item .content-banner-item{
    position: absolute;
    left: 0;
    width: 100%;
    top: 110px;
}
.banner-item .content-banner-item .title-slider{
    font-size: 48px;
    color: #FFF;
    text-transform: uppercase;
    font-family: var(--font-neueplak);
    margin-bottom: 24px;
    letter-spacing: -2%;
    line-height: 1.167;
}
.banner-item .content-banner-item .content-text{
    font-size: 16px;
    color: #FFF;
    max-width: 320px;
}
.banner-item .content-banner-item .btn{
    margin-top: 60px;
}

.conlection-main{
    margin-bottom: 100px;
}
.box-more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-more .btn{
    border-radius: 0;
    height: 48px;
    min-width: 300px;
    text-transform: uppercase;
    font-weight: 700;
}
.wrap-slider-banner-item .carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
}
.wrap-slider-banner-item .carousel-inner .carousel-item{
    height: 100%;
}
.wrap-slider-banner-item .carousel-inner .carousel-item .container{
    height: 100%;
    position: relative;
}
.wrap-slider-banner-item .carousel-inner .carousel-item .container>div{
    max-width: 50%;
    position: relative;
    height: 100%;
}
.wrap-slider-banner-item .carousel-inner .carousel-item .wrap-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wrap-slider-banner-item .carousel-inner .content-slider {
    position: relative;
}
.wrap-slider-banner-item .carousel-inner .content-slider .price{
    font-size: 32px;
    color: #FFF;
    font-weight: 700;
    margin-top: 17px;
}
.wrap-slider-banner-item .carousel-inner .content-slider .btn{
    margin-top: 20px;
}
.wrap-slider-banner-item .carousel-inner .content-slider .item-logo{
    margin-top: 50px;
}

.wrap-slider-banner-item .carousel-indicators{
    margin-bottom: 45px;
}

.wrap-slider-banner-item .wrap-image-right{
    position: absolute;
    right: 0;
    top: 0;
    padding: 45px 45px 45px 0;
    display: flex;
    max-width: 50%;
    height: 100%;
    align-items: center;
}
.wrap-slider-banner-item .wrap-image-right .item:not(:last-child){
    margin-right: 38px;
}
.wrap-slider-banner-item .wrap-image-right .item{}
.wrap-slider-banner-item .wrap-image-right .item img{}
.wrap-slider-banner-item .item-logo-deco{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/*  */
#form-folow{
    background: #2C2C2E;
    display: flex;
    overflow: hidden;
    position: relative;
}
#form-folow>div{
    flex: 0 0 50%;
    max-width: 50%;
}
#form-folow .box-image{}
#form-folow .marquee{
    margin-top: 25px;
    position: absolute;
    left: 0;
}
#form-folow .marquee__line{
    min-width: max-content;
    margin-right: 10px;
}
#form-folow .box-form{
    padding-left: 140px;
    position: relative;
    overflow: hidden;
}
#form-folow .wrap-form-flow{
    padding: 100px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #F9F9F9;
    background: url(../images/image-9.png) no-repeat center;
    background-size: cover;
}
#form-folow .wrap-form-flow>*{
    max-width: 405px;
}
#form-folow .run-text-auto{
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 10;
    width: 100%;
    flex: unset;
    max-width: unset;
    padding-bottom: 15px;
}
#form-folow .run-text-auto .marquee__line{
    font-size: 48px;
    color: #F9F9F9;
    text-transform: uppercase;
    margin-right: 30px;
    font-family: var(--font-neueplak);
}
#form-folow .wrap-form-flow .title-form{
    font-size: 40px;
    line-height: 1.167;
    margin-bottom: 24px;
    font-weight: 700;
}
#form-folow .wrap-form-flow .input-mail{
    height: 34px;
    background: transparent;
    border:none;
    border-bottom: 1px solid #F9F9F9;
    width: 100%;
    font-size: 14px;
    margin-bottom: 35px;
    margin-top: 30px;
    color: #F9F9F9;
}
#form-folow .wrap-form-flow .input-mail::placeholder{
    color: #D7D7D7;
}
#form-folow .wrap-form-flow .btn{
    border-width: 2px;
    width: 100%;
    font-weight: 700;
    border-radius: 0;
    margin-top: 25px;
}
#form-folow .wrap-form-flow .form-check:not(:last-child){
    margin-right: 40px;
}
#form-folow .wrap-form-flow .form-check input{display: none;}
#form-folow .wrap-form-flow .form-check .form-check-label{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
}
#form-folow .wrap-form-flow .form-check .form-check-label::before{
    content: "";
    width: 18px;
    min-width: 18px;
    height: 18px;
    border: 2px solid #ECECEC;
    display: block;
    border-radius: 2px;
    margin-right: 13px;
}
#form-folow .wrap-form-flow .form-check .form-check-label::after{
    content: "";
    width: 11px;
    height: 6px;
    border-left: 2px solid #2C2C2E;
    border-bottom: 2px solid #2C2C2E;
    display: none;
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg);
    left: 3px;
    top: 6px;
}
#form-folow .wrap-form-flow .form-check input:checked ~ .form-check-label::before{
    background-color: #F9F9F9;
}
#form-folow .wrap-form-flow .form-check input:checked ~ .form-check-label::after{
    display: block;
}
#form-folow .wrap-form-flow .check-agree .form-check .form-check-label::before{
    margin-top: 1px;
}

/* footer */
footer#footer{
    background-color: var(--color-text);
    color: #F9F9F9;
}
footer#footer .footer-first{
padding-top: 125px;
padding-bottom: 125px;
}
footer#footer .footer-first .logo-footer{
    display: flex;
    align-items: center;
}
footer#footer .footer-first .logo-footer .text-logo-footer{
    margin-left: 10px;
}
footer#footer .footer-first .logo-footer .text-logo-footer>div{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 700;
    line-height: 1.3125;
}

footer#footer .footer-first .title-footer{
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 700;
}
footer#footer .footer-first .list-menu-footer{}
footer#footer .footer-first .list-menu-footer li{
    margin-bottom: 8px;
    font-weight: 300;
}
footer#footer .footer-first .list-menu-footer li a{
    color: #F9F9F9;
    font-weight: 300;
}
footer#footer .footer-first .list-menu-footer li a:hover{
    text-decoration: underline;
}

footer#footer .footer-first .list-menu-footer li a.phone-footer{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
footer#footer .footer-first .list-menu-footer li a.phone-footer svg{
    margin-right: 15px;
}
footer#footer .footer-last{
display: flex;
align-items: center;
justify-content: space-between;
color: #F9F9F9;
padding-bottom: 28px;
}
 footer#footer .footer-last .copyright{
    font-size: 12px;
 }


 .modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}
 .form-modal-search{
    padding: 25px 20px;
    background-color: var(--color-text);
    border-radius: 10px;
}
.form-modal-search label{
    font-weight: 600;
    color: #FFF;
    font-size: 24px;
}
.form-modal-search .form-control{
    height: 48px;
}

#banner-breacrum{
    background-color: #F9F9F9;
    position: relative;
    border-bottom: 1px solid #B5B5B5;
}
.breacrums{
    display: flex;
    align-items: center;
    padding-top: 28px;
}
.breacrums li{
    margin-right: 10px;
    line-height: 1;
    color: #B5B5B5;
}
.breacrums li a{
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.breacrums li a:hover{
    text-decoration: underline;
}
#banner-breacrum .box-banner-main{
    text-align: center;
    padding-bottom: 50px;
}
#banner-breacrum .box-banner-main .title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
#banner-breacrum .box-banner-main .content{
    font-size: 12px;

}
/*  */
.wrap-filters{
    border: 1px solid #B5B5B5;
    border-left: 0;
    border-right: 0;
    margin-bottom: 100px;
    position: relative;
}
.wrap-filters .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-filters .item-filter{
    padding: 23px 0;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    line-height: 24px;
}
.wrap-filters .item-filter .toggle-sort{
    cursor: pointer;
    line-height: 24px;
}
.wrap-filters .item-filter .toggle-sort img{
    margin-right: 10px;
}
.wrap-filters .item-filter .toggle-sort svg{
    margin-left: 10px;
}
.wrap-filters .item-filter .box-toggle{
    position: absolute;
    top: 100%;
    border: 1px solid #B5B5B5;
    margin-top: 2px;
    z-index: 2;
    background: #FFFFFF;
    right: 0;
    display: none;
}
.wrap-filters .item-filter .box-toggle .box-content-sort{
    padding: 20px 25px;
}
.wrap-filters .item-filter .box-toggle .box-content-sort .item{
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}
.wrap-filters .item-filter .box-toggle .box-content-sort .item:last-child{
    margin-bottom: 0;
}

.wrap-filters .item-filter .wrap-filter-product{
    right: auto;
    left: 0;
}
.wrap-filters .item-filter .box-filter-item{
    width: 535px;
}
.wrap-filters .item-filter .box-filter-item .header-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px 24px 30px;
    border-bottom: 1px solid #B5B5B5;
}
.wrap-filters .item-filter .box-filter-item .header-filter .clear{
    color: #8E8E93;
    font-size: 14px;
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .header-filter .clear:hover{
    color: var(--color-text);
    text-decoration: underline;
}
.wrap-filters .item-filter .box-filter-item .header-filter .close{
    opacity: 1;
    cursor: pointer;
}
.wrap-filters .item-filter .box-filter-item .body-filter{
    padding-left: 30px;
    padding-right: 25px;
}
.wrap-filters .item-filter .box-filter-item .item-filter-child{
    padding-bottom: 10px;
}
.wrap-filters .item-filter .box-filter-item .toggle-item-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .toggle-item-filter h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.wrap-filters .item-filter .box-filter-item .toggle-item-filter .toggle-content{
    cursor: pointer;
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .item-filter-child.active .toggle-item-filter .toggle-content{
    transform: rotateX(180deg);
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .item-filter-child{
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .item-filter-child.active{
    padding-bottom: 0;
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .item-filter-child.active .toggle-item-filter{
    padding-bottom: 0;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line{
    width: 100%;
    margin-bottom: 18px;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line:last-child{
    margin-bottom: 0;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line input{display: none;}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line .form-check-label{
    position: relative;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line .form-check-label::before{
    content: "";
    width: 23px;
    height: 23px;
    border: 1px solid #000000;
    margin-right: 20px;
    display: block;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line .form-check-label::after{
    content: "";
    width: 16px;
    height: 9px;
    border-left: 1px solid var(--color-text);
    border-bottom: 1px solid var(--color-text);
    transform: rotate(-45deg);
    position: absolute;
    left: 3px;
    top: 4px;
    display: none;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .check-line input:checked ~ .form-check-label::after{
    display: block;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .item-list{
    margin-right: 10px;
    margin-bottom: 10px;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .item-list input{display: none}
.wrap-filters .item-filter .box-filter-item .content-item-filter .item-list .form-check-label{
    cursor: pointer;
    min-width: 59px;
    height: 44px;
    padding: 10px;
    border: 1px solid #8E8E93;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: all .3s;
}
.wrap-filters .item-filter .box-filter-item .content-item-filter .item-list input:checked  ~ .form-check-label{
    background-color: var(--color-text);
    color: #F9F9F9;
    border-color: var(--color-text);
}
.wrap-filters .box-filter-item .btn-submit{
    background-color: #2C2C2E;
    height: 48px;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    margin-bottom: 35px;
    margin-top: 40px;
    transition: all .3s;
}
.wrap-filters .box-filter-item .btn-submit:hover{
    background-color: var(--color-text);
}

.product-detail{
    padding-top: 35px;
    padding-bottom: 30px;
}

#product-detail{
    padding-top: 35px;
}
#product-detail .detail-photos{
    display: flex;
}
#product-detail .detail-photos .box-photo{
    display: flex;
    flex-wrap: wrap;
    max-width: 563px;
}
#product-detail .detail-photos .box-photo .box-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    transition: all .3s;
    border: 1px solid #EBEBEB;
}
#product-detail .detail-photos .box-photo.sort-four{
    justify-content: space-between;
    transition: all .3s;
}
#product-detail .detail-photos .box-photo .box-image img{
    transition: all .3s;
}
#product-detail .detail-photos .box-photo.sort-four .box-image{
    flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
}
#product-detail .detail-photos .sort-list-product{
    padding-left: 20px;
    padding-top: 5px;
}
#product-detail .detail-photos .sort-list-product .item{
    width: 22px;
    height: 22px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}
#product-detail .detail-photos .sort-list-product .item.sort-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#product-detail .detail-photos .sort-list-product .item.sort-two::before,
#product-detail .detail-photos .sort-list-product .item.sort-two::after{
    content: "";
    width: 10px;
    height: 100%;
    border: 1px solid var(--color-text)
}
#product-detail .detail-photos .sort-list-product .item.sort-two.active::before,
#product-detail .detail-photos .sort-list-product .item.sort-two.active::after{
    background-color: var(--color-text);
}
#product-detail .detail-photos .sort-list-product .item.sort-four.active svg path{
    fill: var(--color-text);
}

#product-detail .content-detail-product{}
#product-detail .content-detail-product .name-product{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.36;
}
#product-detail .content-detail-product .category{
    color: #636366;
    font-size: 16px;
}
#product-detail .content-detail-product .price{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#product-detail .content-detail-product .price-detail{
    font-size: 20px;
    font-weight: 600;
}
#product-detail .content-detail-product .size-guide{
    font-size: 14px;
    color: #636366;
    text-decoration: underline;
    transition: all .3s;
}
#product-detail .content-detail-product .size-guide:hover{
    color: var(--color-text);
}
#product-detail .content-detail-product .toggle-size{
    border: 1px solid #B5B5B5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25.5px 20px 25.5px 10px;
    cursor: pointer;
}
#product-detail .content-detail-product .toggle-size .text{
    color: #636366;
    font-weight: 600;
}
#product-detail .content-detail-product .toggle-size .icon-toggle{
    padding-left: 25px;
    border-left: 1px solid #B5B5B5;
    height: 18px;
    display: flex;
    align-items: center;
}
#product-detail .content-detail-product .toggle-size .icon-toggle svg{
    transition: all .3s;
}
#product-detail .content-detail-product .toggle-size .icon-toggle.active svg{
    transform: rotateX(180deg);
    transition: all .3s;
}
#product-detail .content-detail-product .list-size-detail{
    padding: 0 17px 0 22px;
    border: 1px solid #B5B5B5;
    margin-top: 12px;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    height: 100%;
}
#product-detail .content-detail-product .list-size-detail.active{
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    transition: all .3s;
}
#product-detail .content-detail-product .list-size-detail .item-size{
    border-bottom: 1px solid #D7D7D7;
    color: #636366;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    font-weight: 600;
    cursor: pointer;
}
#product-detail .content-detail-product .list-size-detail .item-size:last-child{
    border: none;
}
#product-detail .content-detail-product .list-size-detail .item-size:hover,
#product-detail .content-detail-product .list-size-detail .item-size.active{
    background-color: #F9F9F9;
}
#product-detail .content-detail-product .list-size-detail .item-left{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
#product-detail .content-detail-product .list-size-detail .item-left div:first-child{
    margin-right: 25px;
}
#product-detail .content-detail-product .btn-submit{
    background: #2C2C2E;
    color: #FFF;
    height: 48px;
    width: 100%;
    border:none;
    border-radius: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s;
}
#product-detail .content-detail-product .btn-submit:hover{
    background: var(--color-text);
}

#product-detail .content-detail-product .wrap-content-detail{
    margin-top: 40px;
}
#product-detail .content-detail-product .wrap-content-detail .item{
    margin-bottom: 25px;
}
#product-detail .content-detail-product .wrap-content-detail .toggle-content{
    font-size: 16px;
    color: #1C1C1E;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#product-detail .content-detail-product .wrap-content-detail .toggle-content span{
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-right: 12px;
}
#product-detail .content-detail-product .wrap-content-detail .content{
    font-size: 14px;
    color: #1C1C1E;
    line-height: 1.6;
    display: none;
}
#product-detail .content-detail-product .wrap-content-detail .content.active{
    display: block;
}

#banner-story{

}
#banner-story img{
    width: 100%;
}

#content-story, #faq{
    padding: 65px 0 100px;
}
#content-story>.container>.row{
    align-items: center;
}
#content-story .box-content{
    padding-left: 90px;
    padding-right: 80px;
    text-align: center;
}
#content-story .box-content div{
    margin-bottom: 15px;
}

.box-faq{}
.box-faq .item{
    padding: 32px;
    display: flex;
    border-radius: 16px;
    margin-bottom: 10px;
    /* transition: all .3s; */
}
.box-faq .item .icon-toggle{
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 26px;
    border-radius: 100%;
    border: 2px solid #636366;
    font-size: 21px;
    font-weight: 600;
    color: #636366;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
}
.box-faq .item .icon-toggle span{
    line-height: 1;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-faq .item .content-item-faq{
    margin-top: -3px;
}
.box-faq .item .content-item-faq .title-item-faq{
    font-weight: 700;
    color: var(--color-text);
    cursor: pointer;
}
.box-faq .item .content-item-faq .content-item{
    font-weight: 300;
    display: none;
    color: #7B7B80;
}

.box-faq .item.active{
    background: #F9F9F9;
    /* transition: all .3s; */
}
.box-faq .item.active .content-item-faq .content-item{
    display: block;
}


.item-new{
    margin-bottom: 60px;
}
.item-new .box-image{
    width: 100%;
    display: block;
}
.item-new .box-image img{
    height: 100%;
}
.item-new .box-content{
    padding-top: 32px;
}
.item-new .box-content .date-new{
    margin-bottom: 12px;
    font-size: 14px;
    color: #007AFF;
    font-weight: 700;
    text-transform: uppercase;
}
.item-new .box-content .title h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.item-new .box-content .content-detail{
    color: var(--bg-1);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/*  */
/* #breadcrums-cart */
#breadcrums-cart{
    padding-top: 20px;
}
#breadcrums-cart .breadcrumbs{
    min-height: 60px;
    padding: 15px 0;
    position: relative;
}
#breadcrums-cart .breadcrumbs a{
    align-items: center;
    color: #ccc;
    display: inline-flex;
    font-size: 22px;
    text-transform: uppercase;
}
#breadcrums-cart .breadcrumbs a.current,
#breadcrums-cart .breadcrumbs a:not(.no-click):hover{
    color: #111;
}
#breadcrums-cart .breadcrumbs .divider i{
    font-size: 22px;
    margin: 0 10px;
    opacity: .35;
}

.wrap-form-success{
    padding: 20px 0 40px;
}
.wrap-form-success .title{
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
}
.wrap-form-success .text-top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    align-items: center;
}
.wrap-form-success .text-top a{
    color: #d47d15;
}
.wrap-form-success .text-top a:hover{
    color: var(--color-main);
}
.wrap-form-success hr{
    border-width: 2px;
}
.wrap-form-success .form-group{
    margin-bottom: 20px;
}
.wrap-form-success .form-group label{
    font-weight: 700;
    margin: 3px;
    color: #000;
}
.wrap-form-success .form-group .form-control{
    min-height: 40px;
    border-radius: 0;
}
.wrap-form-success .box-total-sum{
    padding: 25px;
    border: 2px solid #d47d15
}
.wrap-form-success .box-total-sum .wrap-sum{}
.wrap-form-success .box-total-sum .wrap-sum .title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #ddd;
    padding: 5px 0;
}
.wrap-form-success .box-total-sum .wrap-sum .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
.wrap-form-success .box-total-sum .wrap-sum .item>div{
    padding: 5px;
}
.wrap-form-success .box-total-sum .wrap-sum .item>div:first-child{
    padding-left: 0;
}
.wrap-form-success .box-total-sum .wrap-sum .item>div:last-child{
    padding-right: 0;
}
.wrap-form-success .box-total-sum .wrap-sum>div{
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-form-success .box-total-sum .wrap-sum>div:last-child{
    border: none;
}
.wrap-form-success .box-total-sum .wrap-sum>div.item-sum div{
    padding: 5px;
}
.wrap-form-success .box-total-sum .wrap-sum{
    border-bottom: 3px solid #ddd;
}
.box-total-sum .item-pay{
    padding-left: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    transition: all .3s;
}
.box-total-sum .item-pay>input{
    margin-left: 0;
}
.box-total-sum .item-pay>label{
    padding-left: 20px;
    font-weight: 700;
}
.box-total-sum .item-pay>.content{
    padding-top: 8px;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}
.box-total-sum .item-pay input:checked ~ .content{
    opacity: 1;
    visibility: visible;
    max-height: 10000px;
    transition: all .3s;
}
.box-total-sum .btn-dark{
    height: 40px;
    border-radius: 0;
    background: #000;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .3s;
}
.box-total-sum .btn-dark:hover{
    transition: all .3s;
    opacity: .9;
}


/*  */
/*  */
/*  */
/*  */
/*  */
@keyframes rotateLogo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box-logo-footer{
    position: relative;
}
.box-logo-footer .img-out{
    animation: rotateLogo 10s linear infinite;
}
.box-logo-footer .img-in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#form-folow .marquee:not(.run-text-auto) .marquee__line{
    animation: unset;
}
.wrap-slider-collection-item {
    margin-left: 0;
}
/*  */
/*  */
/*  */
/*  */










